*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container{
  padding: 50px;
  margin-top: 100px ;
}
.intro-text{
  margin: 50px
}
.seach-by{
  display: flex;
  justify-content: space-around;
}
.search-type{
  width: 40%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}
.search-type h3{
  height: 100%;
  text-shadow: 3px 4px rgba(0, 0, 0, 0.199) ;
  color: whitesmoke ;
  display: flex;
  justify-content: center ;
  align-items: center;
}
.search-image{
  background-position: bottom ;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.searchbar {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  border: 3px solid black;
  height: 30px;
  padding: 50px;
  margin: 30px;
}
.bar {
  height: 50px;
  width: 300px;
}
.btnsearch {
  background-color: gray;
  height: 50px;
  width: 80px;
}